.container.text-justify
  %h1
    Добро пожаловать!
  %p
    Данное приложение ориентированно на получение практических
    навыков верстки страниц при помощи Bootstrap, использовании
    некоторых неизвестных мне возможностей
    Ruby on Rails, а также затрагивается работа с внешним API.
  %p
    В приложении существуют несколько учебных проектов
    каждый из которых направлен на оттачивание определенной
    составляющей веб-программирования.
  %p
    Их список можно увидеть в меню навигации.
