.project-timer
  min-width: 250px
  max-width: 60%
  padding: 30px
  .btn-group
    width: 100%
    .btn-col-6
      display: inline-block
      text-decoration: none
      width: 33.3%




#timer
  margin: 0 auto
  margin-bottom: 3px
  margin-top: 3px
  color: #383030
  border: 1px solid transparent
  border-radius: 6px
  background: darken($navbar-default-bg, 15%)
  font-size: 4.2em
  text-align: center
  font-family: fantasy
  div
    display: inline
